.pages {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.lt {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rt {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_container {
  position: relative;
}

.feed {
  width: 100%;
  max-width: 360px;
  position: relative;
  transform: perspective(500px) rotateY(-10deg) rotateX(4deg);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
}

.sidebar {
  left: -50px;
  top: 80px;
  max-width: 80px;
  position: absolute;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
  z-index: 2;
  opacity: 0;

  animation: left 1200ms ease-in-out forwards;
}

.contact {
  max-width: 80px;
  position: absolute;
  top: 200px;
  right: -60px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
  opacity: 0;

  animation: right 1200ms ease-in-out forwards;
  animation-delay: 300ms;
}

@keyframes left {
  0% {
    opacity: 0;
    transform: perspective(500px) rotateY(-16deg) rotateX(4deg)
      translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) rotateY(-20deg) rotateX(4deg) translateX(0);
  }
}

@keyframes right {
  0% {
    opacity: 0;
    transform: perspective(500px) rotateY(-16deg) rotateX(4deg)
      translateX(100px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) rotateY(-12deg) rotateX(0deg) translateX(0);
  }
}

@media (max-width:1200px) {
  .pages {
    flex-direction: column;
    align-items: center;
  }

  .lt {
    width: 100%;
  }

  .rt {
    display: none;
  }
}