.content {
  width: 100%;
  max-width: 600px;
}

.content p {
  font-size: 48px;
  font-weight: 200;
  margin: 0;
}

.content h1 {
  font-size: 72px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 100px;
}

.content label {
  color: var(--bs-gray-600);
}

.content input {
  width: 100%;
  max-width: 400px;
  font-family: var(--font-inter);
  margin: 10px 0;
  padding: 8px 12px;
  border: 1px solid var(--bs-gray-400);

  transition: 150ms ease-in-out;
}

.active {
  border: 1px solid rgb(172, 255, 172);
  outline: 1px solid rgb(172, 255, 172);
}

.content button {
  width: 100%;
  max-width: 400px;
  height: 36px;
  border-radius: 4px;
  border: none;
  background-color: var(--primary-color);
  color: var(--bs-white);
  font-family: var(--font-outfit);

  cursor: pointer;
}
