.invoice {
  border-radius: 12px;
  /* padding: 0 1rem 1rem 1rem ; */
  flex: 3;
}

.btnInvoice {
  display: flex;
  justify-content: space-between;
}

.btnInvoiceRight {
  display: flex;
  gap: 1rem;
}

.filterInfoice {
  display: flex;
  width: 100%;
}

.filterText {
  width: 100%;
  display: flex;
  gap: 1em;
}

.btnBiruGelap {
  background-color: #282e6b !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.btnBiruGelap:hover {
  background-color: transparent;
  background-color: #282e6b;
}

.grey {
  background-color: transparent;
  background-color: gray !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.headInvoice {
  font-size: 32px;
  font-weight: 400;
  /* margin: 0.5em 0; */
}

.hr {
  height: 6px;
  border-radius: 12px;
  background-color: var(--bs-white);
}

.wrapInvoiceContent {
  width: 100%;
  padding: 1rem;
  background-color: var(--bs-white);
  margin-top: 1em;
  border-radius: 12px;
  box-shadow: 5px 5px 10px 0px #888888 !important;
}

.tabelInvoice {
  padding: 1rem;
}

.filter {
  width: 100% !important;
}

/* TAGIHAN */

.infoTagihan{
  flex: 1;
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid black;
}

.headInfo{
  margin: 0;
  padding: 0;
}



@media (max-width: 762px) {

  .btnInvoice {
    display: flex;
    gap: 1em;
    flex-direction: column;
  }

  .filterText{
    display: flex;
    flex-direction: column;
  }

  .filterInfoice {
    display: flex;
    gap: 1em;
    width: 100%;
  }
  .filter{
    width: 100%;
  }
}
      