.dashboard_container {
  flex: 3;
  overflow-x: hidden;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btn_container {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 762px) {
  .btn_container {
    flex-direction: column;
  }

  .button_order {
    margin: 10px 0;
  }
}

.head h2 {
  display: flex;
  font-size: 32px;
  font-weight: 400;
  font-family: var(--font-outfit);
  margin: 10px 0;
}

.button_order {
  --color-order: #282e6b;
  margin: 0 10px;
  border-radius: 50px;
  width: 120px;
  height: 30px;
  border: 1px solid transparent;
  font-family: var(--font-outfit);
  cursor: pointer;

  transition: 150ms ease-in-out;
}

.button_order:hover {
  transform: scale(95%);
}

.active {
  background-color: var(--color-order);
  color: white;
}

.deactive {
  border: 1px solid var(--color-order);
  color: var(--color-order);
}

.divider {
  width: 100%;
  height: 4px;
  background-color: var(--bs-white);
  margin: 20px 0;
  border-radius: 50px;
}

.dashboard {
  display: flex;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container_notification {
  display: flex;
}

.myorder {
  background-color: white;
  width: 200px;
  height: 100px;
  border-radius: 12px;
  margin-right: 20px;

  transition: 300ms ease-in-out;
  cursor: pointer;
}

.myorder:hover,
.delivery:hover,
.confirmation:hover {
  background-color: var(--bs-primary);
  color: white;
  transform: translateY(-5%);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
}

.myorder:hover p,
.delivery:hover p,
.confirmation:hover p {
  color: white;
}

.myorder p {
  padding: 10px;
  font-size: 12px;
  color: var(--bs-gray-600);
  margin: 0;

  transition: 300ms ease-in-out;
}

.myorder h3 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  padding: 0 20px;
}

.delivery {
  width: 200px;
  height: 100px;
  border-radius: 12px;
  margin-right: 20px;
  background-color: var(--bs-white);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.delivery p {
  padding: 10px;
  font-size: 12px;
  color: var(--bs-gray-600);
  margin: 0;
  transition: 300ms ease-in-out;
}

.delivery h3 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  padding: 0 20px;
}

.confirmation {
  display: flex;
  width: 420px;
  height: 200px;
  background-color: white;
  margin: 10px 0;
  border-radius: 12px;
  cursor: pointer;

  transition: 300ms ease-in-out;
}

.confirmation p {
  margin: 0;
  padding: 10px;
  font-size: 12px;
  color: var(--bs-gray-600);
}

.right {
  flex: 1;
}
