.headerProfile {
  max-width: 1200px;
  background-color: var(--bs-white);
  padding: 1rem;
  margin: 0 auto;
  margin-top: calc(1rem + 4px);
  border-radius: 12px;
}

.profileBanner {
  width: 100%;
}

.wrapDetailProfile {
  margin-left: 1rem;
}

.detailProfile {
  display: flex;
  padding: 0.5rem 0;
}

.detailProfilee {
  display: flex;
  align-items: center;

  flex: 1;
}

.detailProf {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
}

.buttonEditProfile {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.btnedt {
  height: 40px;
}

.navProfile {
  display: flex;
  gap: 1rem;
}

.main_section_profile {
  display: flex;
  gap: 1rem;
  width: 1200px;
  margin: 1rem auto;
}

.main_section_profile_about{
  display: flex;
  gap: 1rem;
  width: 1200px;
  margin: 1rem auto
}

.main_section_profile_photo{
  display: flex;
  gap: 1rem;
  width: 1200px;
  margin: 1rem auto
}

.main_section_profile_group{
  display: flex;
  gap: 1rem;
  width: 1200px;
  margin: 1rem auto
}

.profileLeft {
  flex: 1;
  transition: 300ms ease-in-out;
  top: 130px;
}

.profileMid {
  flex: 2;
}

.profileRight {
  flex: 1;
  transition: 300ms ease-in-out;
  top: 130px;
}

.aboutLeft {
  flex: 3.1;
  
}

.aboutRight {
  flex: 0.9;
}

.photoLeft {
  flex: 1;
}

.photoRight {
  flex: 0.9;
}

.coverbtn {
  background-color: transparent;
  border: none;
  color: var(--para-1st-color);
  cursor: pointer;
}

.coverbtn:hover {
  color: var(--bs-primary);
}

@media (max-width: 762px) {
  .containerMobile {
    padding: 0.5rem;
  }

  .headerProfile {
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 0.5rem;
  }

  .resImg {
    width: 60px;
  }

  .resh4 {
    font-size: 18px;
  }

  .restigaroda img {
    width: 20px;
  }

  .resspan14 {
    font-size: 12px;
  }

  .detailProfile {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }

  .buttonEditProfile {
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .btnedt {
    height: 30px;
    font-size: 12px;
  }

  .profileLeft {
    flex: 1;
    max-width: none;
    position: fixed;
    width: 100%;
    background-color: white;
    left: -100%;
    height: 100vh;
  }
  
  .profileMid {
    flex: 2;
  }
  
  .profileRight {
    flex: 1;
    max-width: none;
    position: fixed;
    width: 100%;
    background-color: white;
    right: -100%;
    overflow-y: scroll;
  }

  .main_section_profile_about{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 1rem auto
  }

  .aboutLeft {
    flex: 1;
  }
  
  .aboutRight {
    flex: 1;
  }

  .main_section_profile_photo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 1rem auto
  }

  .main_section_profile_group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 1rem auto
  }

  .main_section_profile {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: 1rem auto;
  }
  
  
}
