.grid {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 30px;
}

.headInvoice{
  font-size: 32px;
  font-weight: 400;
  margin: 0.5em 0;
}

.hr{
  height: 6px;
  border-radius: 12px;
  background-color: var(--bs-white);
}

.groupContainer{
  padding: 1em;
}

.btnBiruGelap{
  background-color: #282e6b !important;
  border-radius: 20px !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.btnBiruGelap:hover{
  background-color: transparent;
  background-color: #282e6b;
}

.btnHeadGroup{
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;
  padding-top: 0.5em;
}

.grey{
  background-color: transparent;
  background-color: gray !important;
  border-radius: 20px !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.cardHeadGroup{
  display: flex;
  flex: 3;
  gap: 1em;
  padding-top: 0.5em;
}

.cardDataGroup{
  flex: 1;
  background-color: var(--bs-white);
  border-radius: 12px;
  height: 20vh;
  padding: 1em;
}
.cardActiveDataGroup{
  flex: 1;
  background-color: var(--bs-primary);
  border-radius: 12px;
  height: 20vh;
  padding: 1em;
  color: var(--bs-white);
}

.pCard{
  font-size: 12px;
  margin: 0;
  color: var(--bs-grey-600);
}

.nilaiCard{
  font-size: 64px;
  display: flex;
  justify-content: flex-end;
  font-weight: 200;
}

.listDetailGroup{
  background-color: var(--bs-white);
  border-radius: 12px;
  padding: 1em;
  margin-top: 1em;
}

.listActive{
  background-color: var(--bs-primary);
  height: 1vh;
  flex: 1;
  border-radius: 12px;
}
.listDeActive{
  background-color: var(  --icon-2nd-color);
  height: 1vh;
  flex: 1;
  border-radius: 12px;
}

.wrapListActive{
  display: flex;
  gap: 0.5em;
}


@media (max-width:900px) {
  .grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 762px) {
  .grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}