.feed{
    background-color: var(--bs-white);
    flex: 2;
    padding: 2rem 1rem;
    border-radius: 12px;
}

.containerfeed{
    width: 100%;
}

.headfeed{
    display: flex;
    gap: 1rem;
}

.respostimg{
    width: 100%;
}


.texthead{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.actionpost{
    display: flex;
    justify-content: space-between;
}

.commentpost{
    display: flex;
    gap: 1rem;
}

.comment{
    padding: 0 1rem;
    background-color: var( --border-color) ;
    border: none;
    width: 100%;
    border-radius: 12px;
}

.sendComment{
    color: var(--icon-color) ;
}
.btnSendComment{
    display: flex ;
    align-items: center;
}

.resultComment{
    margin-left: 3rem;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.resultReplyComment{
    margin-left: 8rem;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.wrapResultComment, .wrapReplyComment{
    display: flex;
    gap: 1rem;
}

.firstComment{
    width: 400px;
    padding: 1rem;
    background-color: var(--border-1st-color);
    border-radius: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 12px;
}

.replyComment{
    width: 400px;
    padding: 1rem;
    background-color: var(--border-1st-color);
    border-radius: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 12px;
}

.replyComment{
    width: 300px;
    padding: 1rem;
    background-color: var(--border-1st-color);
    border-radius: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 12px;
}

.actionOfComments{
    display: flex;
    gap: 1rem;
    margin-left: 5rem;
}

@media (max-width:762px) {
    .feed{
       width: 100%;
    }

    .containerfeed{
        width: 100%;
    }

    .respostimg{
        width: 100%;
    }

    .resultComment{
        margin-left: 0rem;
    }
    
    .resultReplyComment{
        margin-left: 0rem;
        padding-left: 0.5em;
    }

    .resatag18{
        font-size: 14px;
    }

    .resspan16{
        font-size: 12px;
    }

    .ptag18{
        font-size: 14px;
    }

    .firstComment{
        width: 250px;
    }
}