.page {
  flex: 3;
<<<<<<< HEAD
  width: 100%;
}

.wrapPage {
  width: 100%;
=======
  animation: fade-up-pages 600ms ease-in-out;
}


@keyframes fade-up-pages {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
>>>>>>> 884047463aa017c2275556c2de907b119d17d0b5
}

.img_settings {
  border-radius: 12px;
  width: 100%;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img_settings h5,
.general h5 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

.img_profile_cover {
  width: 100%;
}
.primary {
  margin: 10px 0 !important;
  background-color: var(--bs-primary) !important;
}

.primary:hover,
.primary:active {
  background-color: var(--bs-primary) !important;
}

.general {
  margin-top: 20px;
  display: flex;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bs-white);
  flex-direction: column;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container_input {
  display: flex;
  width: 47%;
  flex-direction: column;
  margin: 12px 0;
}

.container_input label {
  margin-bottom: 5px;
  font-size: 20px;
  color: var(--bs-gray-800);
  font-weight: 300;
}

.bio h6 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
}

.align {
  align-items: center;
}

.icon_container {
  display: flex;
}

.icon {
  margin-right: 10px;
  cursor: pointer;
}

.saved_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.container_input input[type="text"] {
  padding: 10px 5px;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--font-outfit);
  border: 1px solid var(--bs-gray-300);
}

@media (max-width: 762px) {

  .img_profile_cover{
    width: 100%;
  }
 
}
