/* Primary Button */

.buttonPrimary {
  font-size: 14px;
  font-family: var(--font-inter);
  background-color: var(--bs-primary);
  color: var(--bs-white);
  border-radius: 4px;
  padding: 8px 15px;
  border: none;

  cursor: pointer;

  transition: 150ms ease-in-out;
}

.buttonPrimary:hover {
  transform: scale(98%);
}

/* Primary Button Ends */

/* Danger Button */

.buttonDanger {
  background-color: var(--highlight-2nd-color);
  color: var(--highlight-color);
  font-family: var(--font-inter);
  padding: 8px 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: 150ms ease-in-out;
}

.buttonDanger:hover {
  background-color: var(--highlight-color);
  color: var(--bs-white);
}

/* Danger Button Ends */

/* ButtonView */


/* ButtonView Ends */