/* Primary Button */

.buttonPrimary {
  font-size: 14px;
  font-family: var(--font-inter);
  background-color: var(--bs-primary);
  color: var(--bs-white);
  border-radius: 4px;
  padding: 8px 15px;
  border: none;

  cursor: pointer;

  transition: 150ms ease-in-out;
}

.buttonPrimary:hover {
  transform: scale(98%);
}

/* Primary Button Ends */

/* Danger Button */

.buttonDanger {
  background-color: var(--highlight-2nd-color);
  color: var(--highlight-color);
  font-family: var(--font-inter);
  padding: 8px 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: 150ms ease-in-out;
}

.buttonDanger:hover {
  background-color: var(--highlight-color);
  color: var(--bs-white);
}

/* Danger Button Ends */

/* ButtonView */

.buttonViewProfile {
  background-color: var(--bs-gray-300);
  font-family: var(--font-inter);
  padding: 8px 12px;
  border: none;
  color: var(--bs-primary);

  cursor: pointer;
}

/* ButtonView Ends */

/* Button Joined */
.buttonJoined {
  background-color: var(--btn-2nd-color);
  border-radius: 4px;
  color: var(--para-4th-color);
  font-family: var(--font-inter);
  border: none;
  padding: 8px 12px;
  cursor: pointer;

  transition: 150ms ease-in-out;
}

.buttonJoined:hover {
  background-color: var(--para-4th-color);
  color: var(--bs-white);
}

/* Buttom Joined Ends */

/* Button Invite */

.buttonInvite {
  background-color: var(--btn-1st-color);
  color: var(--para-5th-color);
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
}

/* Button Invite Ends */

/*  actionpost */
.actionPost{
  font-size: 16px;
  color: var(  --para-1st-color);
  background-color: transparent;
  width: 10rem;
  padding: 0.5rem 0;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

/* actionpost end */