.navbar {
  display: none;
  width: 100%;
  height: 60px;
  background-color: var(--bs-white);
  position: fixed;
  bottom: 0;
  box-shadow: var(--box-shadow-sm);
}

@media (max-width:762px) {
  .navbar {
    display: flex;
  }
}