.wrap {
  background-color: var(--bs-white);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 12px;
  border: 1px solid var(--bs-gray-200);
}

.fill {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bs-gray-200);
}

.row {
  width: 100%;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.col {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  font-size: 14px;
  font-size: 200;
  color: #888888;
}

.history {
  margin-top: 0.5rem;
}

.data,
.history {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.historySect {
  font-size: 14px;
  font-weight: 700;
  position: static;
  background-color: white;
  position: sticky;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.btn_detail {
  text-transform: capitalize !important;
  width: 100px;
}

.info {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}
.detail_content {
  z-index: 1;
  justify-content: center;
  flex: 1;
  max-height: 40vh;
  overflow-y: scroll;
  padding: 1rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

.wrap {
  flex: 1;
}

.allWrap {
  display: flex;
  transition: 3000ms ease;
}

/* Mengatur warna scrollbar */
.detail_content::-webkit-scrollbar {
  width: 4px; /* Atur lebar scrollbar sesuai kebutuhan Anda */
}

/* Mengatur warna thumb */
.detail_content::-webkit-scrollbar-thumb {
  background-color: rgb(5, 0, 78); /* Atur warna thumb sesuai kebutuhan Anda */
  border-radius: 8px; /* Atur radius sudut thumb sesuai kebutuhan Anda */
}

/* Mengatur warna track scrollbar (bagian yang tidak dapat digeser) */
.detail_content::-webkit-scrollbar-track {
  background-color: #e0e0e0; /* Atur warna track sesuai kebutuhan Anda */
}

.wrap_form {
  display: flex;
  width: 100%;
  border-radius: 12px;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  gap: 5rem;
}

.input{
  width: 100%;
  height: 35px;
  border: 1px solid rgb(199, 199, 199)
  ;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--font-outfit);
}

textarea{
  width: 100%;
  border: 1px solid rgb(199, 199, 199)
  ;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  resize: none;
}

.next{
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.prev{
  width: 100%;
  padding-bottom: 1rem;
}

.btn_next{
  background-color: var(--primary-color) !important;
  text-transform: capitalize !important;
}

.left{
  width: 50%;
}
.right{
 width: 50%;
}



.headInfo{
    margin: 0;
    font-size: 32px;
    margin-bottom: 1rem;
}

.inputForm{
    width: 100%;
}

.labelForm{
    margin-bottom: 1rem;
}


.data_list{
  width: 100%;
}

.nama_pelanggan{
  background-color: var();
}

.label_form{
  padding: 0.5rem 0;
}



.wrap_invoice_pesanan{
  display: flex;
  gap: 1rem;
  flex: 4;
}

.gambar{
  width: 100%;
}

.pesanan_left{
  background-color: var(--bs-white);
  padding: 1rem;
  flex: 1.5;
}

.pesanan_right{
  flex: 2.5;
}

.pesanan{
  margin-top: 1rem;
}

.total_harga, .pcs, .harga, .total_harga, .catatan{
  display: flex;
  justify-content: space-between;
}

.grey {
  text-transform: capitalize !important;
  background-color: var(--primary-color) !important;
}

.action_discount{
  display: flex;
  gap: 0.5rem;
}

p{
  margin: 0;
}

.input_discount{
  width: 60%;
  height: 35px;
  border: 1px solid rgb(199, 199, 199)
  ;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--font-outfit);
}

.vat{
  width: 40%;
  height: 35px;
  border: 1px solid rgb(199, 199, 199)
  ;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--font-outfit);
}

.select_vat{
  width: 40%;
}

h3, h2{
  margin: 0;
}

.discount{
  margin-bottom: 1rem;
}

.wrap_left{
  display: flex;
  gap: 0.5rem;
}

.ringkasan_produk{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: var(--bs-white);
  border-radius: 12px;
  padding: 3rem 0;
  margin-bottom: 2rem;

}

.list_produk{
  background-color: var(--bs-white);
  border-radius: 12px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.wrap_list_produk{
  max-height: 560px;
  overflow-y: auto;
}

/* CSS untuk mengkustomisasi scrollbar */
.wrap_list_produk::-webkit-scrollbar {
  width: 0px; /* Lebar scrollbar horizontal */
}

.wrap_list_produk::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Warna thumb (pegangan scrollbar) */
  border-radius: 12px; /* Bentuk thumb */
}

.wrap_list_produk::-webkit-scrollbar-track {
  background-color: #ffffff; /* Warna track (jalur scrollbar) */
}

.wrap_list_produk::-webkit-scrollbar-button {
  display: none; /* Sembunyikan tombol panah jika ada */
}
.btn_hapus{
  font-size: 34px;
  padding: 0;
  background-color: var(--bs-danger) !important;
  height: 30px;
}

.action_data{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}


@media (max-width: 600px) {
  .allWrap {
    flex-direction: column;
  }
}
