.pages {
  flex: 3;
  animation: fade-up-pages 600ms ease-in-out;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.container h1 {
  display: flex;
  width: 100%;
  font-weight: 400;
  margin-top: 0;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2px;
}

.main {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: var(--bs-white);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  transition: 600ms ease-in-out;
  z-index: 10;
}

.main p {
  font-size: 20px;
  color: var(--bs-gray-600);
}

.detail {
  width: 95%;
  padding: 10px;
  height: 0;
  overflow: hidden;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--bs-gray-400);
  transition: height 0.6s ease-in-out;
}

.detailExpanded {
  height: 500px;
}

.detailShrink {
  height: 0;
}

/* PROGRESS BAR */

.progress_container {
  width: 50%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes fade-up-pages {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 762px) {
  .progress_container {
    width: 80%;
  }
}

.progress_bar {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.progress {
  position: absolute;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    var(--bs-gray-400) 50%,
    var(--bs-gray-400) 50%
  );
}

.progress_main {
  position: absolute;
  width: 0%;
  height: 5px;
  background-color: var(--bs-primary);

  transition: 600ms ease-in-out;
}

.progress_half {
  width: 50%;
}

.progress_full {
  width: 100%;
}

.circle {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-white);
  border-radius: 50%;
  border: 4px solid var(--bs-gray-400);
  color: var(--bs-gray-600);

  z-index: 10;
}

.circle.active {
  border: 4px solid var(--bs-primary);
  color: var(--bs-primary);
}

.circleActiveLast {
  background-color: var(--bs-primary);
  color: white;
}

.status_delivery h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 300;
  color: var(--bs-primary);
  margin: 0;
  font-size: 20px;
}

/*=================================
Detail
==================================*/

.detail_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bs-white);
  border-radius: 12px;
}

.nama_pembeli {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  align-items: center;
}

.nama_pembeli p {
  font-size: 14px;
  color: var(--bs-gray-600);
}

.nama_pembeli h3 {
  text-align: center;
  font-size: 32px;
  margin: 0;
  font-weight: 300;
}

.detail_pembeli {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}

.detail_2 {
  display: flex;
  justify-content: flex-end;
}

.table_detail_container {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

.table_detail {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px;
}

.table_detail th {
  text-align: left;
  font-family: var(--font-outfit);
  font-weight: 300;
  padding: 10px;
  border-bottom: 1px solid var(--bs-gray-400);
}

.table_detail thead tr th:nth-child(even),
.table_detail tbody tr td:nth-child(even) {
  background-color: var(--bs-gray-200);
}

.table_detail td {
  padding: 10px;
  border-bottom: 1px solid var(--bs-gray-200);
  border-left: 1px solid var(--bs-gray-200);
}

.upNdown {
  color: var(--bs-gray-600);
  background-color: transparent;
  border: none;
  transition: 150ms ease-in-out;
  cursor: pointer;
}


.down {
  transform: rotate(180deg);
}

.up {
  transform: rotate(0deg);
}

/*=================================
Detail Ends
==================================*/


/* FILTER */

.filter {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  background-color: var(--bs-white);
  border-radius: 12px;
}

.table {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: var(--bs-white);
  border-radius: 12px;
  overflow: hidden;
}

/* CARD */

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid var(--bs-gray-200);
  cursor: pointer;
  border-radius: 4px;

  transition: 150ms ease-in-out;
}

.card:hover {
  background-color: var(--bs-primary);
  transform: scale(98%);
}

.card:active {
  transform: scale(97%);
}

.container_data {
  width: 100%;
  display: flex;
}

.left {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.right {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-end;
}

.left h6,
.right h6 {
  margin: 0;
  font-size: 14px;
}

.left p,
.right p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--bs-gray-500);
}

.card:hover .left p,
.card:hover .left h6,
.card:hover .right h6,
.card:hover .right p {
  color: var(--bs-white) !important;
}

.status_delivery_card {
  width: 120px;
  display: flex;
  justify-content: center;
  background-color: red;
  padding: 6px 8px;
  border-radius: 50px;
}

.green {
  background-color: var(--bs-teal);
  color: var(--bs-white);
}

.yellow {
  color: var(--bs-white);
  background-color: var(--bs-yellow);
}
